Node-Red/Node-RED flows.json
[
    {
        "id": "99166529b4135d9a",
        "type": "tab",
        "label": "Broker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86455c015ae650a0",
        "type": "tab",
        "label": "RGB ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b848663afbdce68",
        "type": "tab",
        "label": "AC ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25629b3ce26ccf6a",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "192.168.60.6",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "messages",
        "birthQos": "1",
        "birthRetain": "false",
        "birthPayload": "User Connected ",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8991ceb3c3c5c4a9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Hilliard City Smart Lighting",
            "hideToolbar": "false",
            "allowSwipe": "menu",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "43a010b933015119",
        "type": "ui_tab",
        "name": "Status",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e2ad3dba739b91b",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0276b1a883790586",
        "type": "ui_group",
        "name": "RGB Box Status",
        "tab": "43a010b933015119",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f602746b31f1c0c",
        "type": "ui_group",
        "name": "A/C Box Status",
        "tab": "43a010b933015119",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f9a562f79833cd6",
        "type": "ui_group",
        "name": "A/C",
        "tab": "8e2ad3dba739b91b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "7408b37a11aa706c",
        "type": "ui_group",
        "name": "RGB",
        "tab": "8e2ad3dba739b91b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "7826944261619f97",
        "type": "ui_group",
        "name": "Speaker Status",
        "tab": "43a010b933015119",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b0c5b7e55a41902",
        "type": "ui_group",
        "name": "Modes",
        "tab": "8e2ad3dba739b91b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "57bc8eaeb4e0555f",
        "type": "ui_group",
        "name": "Testing",
        "tab": "8e2ad3dba739b91b",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8686283892f59c94",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "Aux",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "9237831bb9809ebd"
            ]
        ]
    },
    {
        "id": "802bf053b559b33b",
        "type": "mqtt out",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "Speaker/$",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "7e6ea3997c2b549e",
        "type": "delay",
        "z": "99166529b4135d9a",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "802bf053b559b33b"
            ]
        ]
    },
    {
        "id": "c51285e47b9a8311",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "speaker/speaker1/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "5a3cd2e3ac8a0e67"
            ]
        ]
    },
    {
        "id": "ca08835ce299c088",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "aux/auxConnection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "36bc702d269536d4"
            ]
        ]
    },
    {
        "id": "4b13f5f5040af325",
        "type": "mqtt out",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "testing/frames/broker",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "a375761bcd2529da",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "testing/frames/client",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "3019aaf2f7316a59"
            ]
        ]
    },
    {
        "id": "ab76958fed7ff1bf",
        "type": "function",
        "z": "99166529b4135d9a",
        "name": "Frame Setter",
        "func": "flow.set(\"frames\", msg)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3019aaf2f7316a59",
        "type": "function",
        "z": "99166529b4135d9a",
        "name": "Frame Reader",
        "func": "msg = flow.get(\"frames\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "4b13f5f5040af325"
            ]
        ]
    },
    {
        "id": "b54ac5e9d08af925",
        "type": "mqtt out",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "lights",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "e808d96e0ab94ebe",
        "type": "comment",
        "z": "99166529b4135d9a",
        "name": "Testing",
        "info": "",
        "x": 110,
        "y": 300,
        "wires": []
    },
    {
        "id": "8bc45f0afa48af52",
        "type": "comment",
        "z": "99166529b4135d9a",
        "name": "May or may not use:",
        "info": "",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "f704686e54e4d5e7",
        "type": "ui_button",
        "z": "99166529b4135d9a",
        "name": "",
        "group": "57bc8eaeb4e0555f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "b54ac5e9d08af925"
            ]
        ]
    },
    {
        "id": "9237831bb9809ebd",
        "type": "ui_slider",
        "z": "99166529b4135d9a",
        "name": "",
        "label": "Speaker Delay  ",
        "tooltip": "",
        "group": "6b0c5b7e55a41902",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "7e6ea3997c2b549e"
            ]
        ]
    },
    {
        "id": "82bc29902544674a",
        "type": "ui_text_input",
        "z": "99166529b4135d9a",
        "name": "",
        "label": "Frame Rate (500 - 4000)",
        "tooltip": "",
        "group": "57bc8eaeb4e0555f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "testing/frames/broker",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "ab76958fed7ff1bf"
            ]
        ]
    },
    {
        "id": "5a3cd2e3ac8a0e67",
        "type": "ui_text",
        "z": "99166529b4135d9a",
        "group": "7826944261619f97",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speaker 1 Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "36bc702d269536d4",
        "type": "ui_text",
        "z": "99166529b4135d9a",
        "group": "7826944261619f97",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aux Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "a187e646f90a785f",
        "type": "ui_gauge",
        "z": "99166529b4135d9a",
        "name": "",
        "group": "7826944261619f97",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Number of boxes online:",
        "label": "Boxes",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "2975d9316a6a0cc1",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box1/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "4e667f3fdb0353d8"
            ]
        ]
    },
    {
        "id": "1c3f716ed250a499",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box2/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "2e89da02246a732d"
            ]
        ]
    },
    {
        "id": "61924a685b0c1eaa",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box3/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "0dfc50cb7b79a0c5"
            ]
        ]
    },
    {
        "id": "ec88e5733e2be59e",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box4/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "f85d08151a7cb68d"
            ]
        ]
    },
    {
        "id": "e623b77542ebb1dd",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 100,
        "wires": []
    },
    {
        "id": "74a9cddb98329a36",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "3fd3ddb70389507d"
            ]
        ]
    },
    {
        "id": "3fd3ddb70389507d",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "RGBMode",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "f87763185f0e3439",
                "56b08d5df3b8956f",
                "62f367ae5e0b1e12",
                "79b3cfb3cbd111b9",
                "7b94c2bb157743ec",
                "dd1cf321bc26f8cc",
                "35ee1542141f2a47",
                "6fd31a61de411f89"
            ]
        ]
    },
    {
        "id": "a88d350b4b3217be",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBMode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "66249743e24ee0e5",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox1Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f87763185f0e3439",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox1Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "e623b77542ebb1dd"
            ]
        ]
    },
    {
        "id": "ead33867e74a05be",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox2Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "95041610cd605387",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox3Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "634245f5c280755e",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox4Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "56b08d5df3b8956f",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox2Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "ee2215d569593d9e"
            ]
        ]
    },
    {
        "id": "ee2215d569593d9e",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 160,
        "wires": []
    },
    {
        "id": "d285c09344c1502c",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox5Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "46b9dadd790843a8",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox6Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "11091f14fde8c476",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox7Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "70bd679a4096b964",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox8Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "2e8d265fea7effde",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box5/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "ca64ced70e587118"
            ]
        ]
    },
    {
        "id": "b342d99bd72ea44d",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box6/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "bf01b5189c7ee6f4"
            ]
        ]
    },
    {
        "id": "7b752d0e90f8c0f1",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box7/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "a8f9e0a17e3ffcde"
            ]
        ]
    },
    {
        "id": "875e4de1685451d8",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box8/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "4a7b117fb9e4e59e"
            ]
        ]
    },
    {
        "id": "c9e1ceaa7522827a",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box3",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "62f367ae5e0b1e12",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox3Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "c9e1ceaa7522827a"
            ]
        ]
    },
    {
        "id": "79b3cfb3cbd111b9",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox4Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "51d1c301e3362a1a"
            ]
        ]
    },
    {
        "id": "51d1c301e3362a1a",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 280,
        "wires": []
    },
    {
        "id": "8ddec161fe60a327",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box5",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "7b94c2bb157743ec",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox5Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "8ddec161fe60a327"
            ]
        ]
    },
    {
        "id": "dd1cf321bc26f8cc",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox6Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 400,
        "wires": [
            [
                "90caddefadb80417"
            ]
        ]
    },
    {
        "id": "90caddefadb80417",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box6",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 400,
        "wires": []
    },
    {
        "id": "1670d1cdc384ee91",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box7",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "35ee1542141f2a47",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox7Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 460,
        "wires": [
            [
                "1670d1cdc384ee91"
            ]
        ]
    },
    {
        "id": "6fd31a61de411f89",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox8Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 520,
        "wires": [
            [
                "9768e7c7f197a750"
            ]
        ]
    },
    {
        "id": "9768e7c7f197a750",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box8",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1280,
        "y": 520,
        "wires": []
    },
    {
        "id": "c58540584e33d8b4",
        "type": "comment",
        "z": "86455c015ae650a0",
        "name": "Sending code to boxes",
        "info": "Switches message from music processing to a number representing color mode (using global.RGBmode)\nIf the switch is on the message will be pushed to that respective box",
        "x": 1140,
        "y": 40,
        "wires": []
    },
    {
        "id": "6c48496594b8f95f",
        "type": "comment",
        "z": "86455c015ae650a0",
        "name": "Switches and sliders",
        "info": "If the switch is on the respective variable is set to true\nSliders send out their respective number through MQTT",
        "x": 130,
        "y": 600,
        "wires": []
    },
    {
        "id": "33f9b46ac5bc1a6b",
        "type": "comment",
        "z": "86455c015ae650a0",
        "name": "Connection Status",
        "info": "pushes whatever is in each boxes connection topic onto the dashboard \n(usually \"Connected\" or \"disconnected\")",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "62451de708acfbf5",
        "type": "ui_dropdown",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "RGB Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "6b0c5b7e55a41902",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Fire",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Grass",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Ocean",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Rainbow",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Christmas",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 630,
        "y": 40,
        "wires": [
            [
                "a88d350b4b3217be"
            ]
        ]
    },
    {
        "id": "be9ad89acf9807cf",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 1 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "66249743e24ee0e5"
            ]
        ]
    },
    {
        "id": "0826e73767b4529f",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 2 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "ead33867e74a05be"
            ]
        ]
    },
    {
        "id": "591c2beb293aa184",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 3 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "95041610cd605387"
            ]
        ]
    },
    {
        "id": "a082f89545ee4ad7",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 4 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "634245f5c280755e"
            ]
        ]
    },
    {
        "id": "ff09abaf96023590",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 5 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "d285c09344c1502c"
            ]
        ]
    },
    {
        "id": "fbd31463838d5b25",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 6 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "46b9dadd790843a8"
            ]
        ]
    },
    {
        "id": "c58b9f1f71147151",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 7 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "11091f14fde8c476"
            ]
        ]
    },
    {
        "id": "771f2d04ab15dd24",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 8 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "70bd679a4096b964"
            ]
        ]
    },
    {
        "id": "4e667f3fdb0353d8",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 1 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "2e89da02246a732d",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 2 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "0dfc50cb7b79a0c5",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 3 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "f85d08151a7cb68d",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 4 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "ca64ced70e587118",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 5 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "bf01b5189c7ee6f4",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 6 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "a8f9e0a17e3ffcde",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 7 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "4a7b117fb9e4e59e",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 8 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "c69283f33807800d",
        "type": "ui_slider",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "RGB Speed",
        "tooltip": "",
        "group": "6b0c5b7e55a41902",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 1140,
        "wires": [
            [
                "61a48d76ddb75613"
            ]
        ]
    },
    {
        "id": "61a48d76ddb75613",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 350,
        "y": 1140,
        "wires": []
    },
    {
        "id": "743e4c7bfae57f80",
        "type": "ui_slider",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "RGB Brightness",
        "tooltip": "",
        "group": "6b0c5b7e55a41902",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 100,
        "y": 1200,
        "wires": [
            [
                "944b1491462e91d8"
            ]
        ]
    },
    {
        "id": "944b1491462e91d8",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/brightness",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 360,
        "y": 1200,
        "wires": []
    },
    {
        "id": "fd84d2574ba350d2",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box1/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "36f2364cd64c9584"
            ]
        ]
    },
    {
        "id": "ff6a640d3c46639f",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box2/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "9b7691d6d048ef78"
            ]
        ]
    },
    {
        "id": "684737f7a88ba7a6",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box3/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "5575d0a5fc9f56e2"
            ]
        ]
    },
    {
        "id": "7f8d8827ab5f0e76",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box4/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "b11135e420e9f5c9"
            ]
        ]
    },
    {
        "id": "2ee013f934ababc9",
        "type": "mqtt out",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1340,
        "y": 160,
        "wires": []
    },
    {
        "id": "093bc32b8e8b418e",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "af2d5d71e184d838"
            ]
        ]
    },
    {
        "id": "af2d5d71e184d838",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ACMode",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 100,
        "wires": [
            [
                "038be91bad9e8964",
                "df04291e7467ba80",
                "5d59147cbdd6e303",
                "a709ee274dd74d72",
                "6366f4f7db02c8fd"
            ]
        ]
    },
    {
        "id": "275382435e3217de",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACMode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "41323c831b1407c6",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox1Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b63e7091887d588d",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox2Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e11d4dda5009de7f",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox3Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "302761d3389ff484",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox4Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "038be91bad9e8964",
        "type": "switch",
        "z": "3b848663afbdce68",
        "name": "",
        "property": "ACbox1Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 160,
        "wires": [
            [
                "2ee013f934ababc9"
            ]
        ]
    },
    {
        "id": "70a0377f6f48ff2f",
        "type": "mqtt out",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1340,
        "y": 220,
        "wires": []
    },
    {
        "id": "df04291e7467ba80",
        "type": "switch",
        "z": "3b848663afbdce68",
        "name": "",
        "property": "ACbox2Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "70a0377f6f48ff2f"
            ]
        ]
    },
    {
        "id": "f32f9d75c16c7ed3",
        "type": "mqtt out",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box3",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1340,
        "y": 280,
        "wires": []
    },
    {
        "id": "5d59147cbdd6e303",
        "type": "switch",
        "z": "3b848663afbdce68",
        "name": "",
        "property": "ACbox3Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 280,
        "wires": [
            [
                "f32f9d75c16c7ed3"
            ]
        ]
    },
    {
        "id": "f499b6b8af2aad26",
        "type": "mqtt out",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box4",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1340,
        "y": 340,
        "wires": []
    },
    {
        "id": "a709ee274dd74d72",
        "type": "switch",
        "z": "3b848663afbdce68",
        "name": "",
        "property": "ACbox4Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "f499b6b8af2aad26"
            ]
        ]
    },
    {
        "id": "8989256acb4a1e3d",
        "type": "comment",
        "z": "3b848663afbdce68",
        "name": "Connection Status",
        "info": "pushes whatever is in each boxes connection topic onto the dashboard \n(usually \"Connected\" or \"disconnected\")",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "5ab191e5e94dc3b7",
        "type": "comment",
        "z": "3b848663afbdce68",
        "name": "Switches",
        "info": "If the switch is on the respective variable is set to true",
        "x": 100,
        "y": 340,
        "wires": []
    },
    {
        "id": "257b6a2235d02b13",
        "type": "comment",
        "z": "3b848663afbdce68",
        "name": "Sending code to boxes",
        "info": "Switches message from music processing to a number representing color mode (using global.ACmode)\nIf the switch is on the message will be pushed to that respective box",
        "x": 1060,
        "y": 40,
        "wires": []
    },
    {
        "id": "99284b56a0df66cb",
        "type": "mqtt out",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 1340,
        "y": 100,
        "wires": []
    },
    {
        "id": "6366f4f7db02c8fd",
        "type": "function",
        "z": "3b848663afbdce68",
        "name": "function 1",
        "func": "while (msg.payload == 0){\n    setTimeout(function() {\n        return msg;\n    }, 7000);\n    \n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 100,
        "wires": [
            [
                "99284b56a0df66cb"
            ]
        ]
    },
    {
        "id": "07d6dd0e4ebb2ecc",
        "type": "ui_dropdown",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "A/C Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "6b0c5b7e55a41902",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Twinkle",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Flash",
                "value": "2",
                "type": "str"
            },
            {
                "label": "AI",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ACMode",
        "topicType": "global",
        "className": "",
        "x": 600,
        "y": 40,
        "wires": [
            [
                "275382435e3217de"
            ]
        ]
    },
    {
        "id": "8f953703e8348b0d",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 1 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "41323c831b1407c6"
            ]
        ]
    },
    {
        "id": "8bc23215e8edb329",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 2 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "b63e7091887d588d"
            ]
        ]
    },
    {
        "id": "df509c7c37b21eda",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 3 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "e11d4dda5009de7f"
            ]
        ]
    },
    {
        "id": "91e78a9055e6e982",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 4 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "302761d3389ff484"
            ]
        ]
    },
    {
        "id": "36f2364cd64c9584",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 1 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b7691d6d048ef78",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 2 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "5575d0a5fc9f56e2",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 3 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "b11135e420e9f5c9",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 4 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "7a7cf872014a931a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]